# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache
package

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

storybook-static

# test reports
coverage
/test-results/
/playwright-report/
/playwright/.cache/

# js build files where a ts source file exists
src/ActionDialog/ActionDialog.js
src/ActionDialog/ActionDialog.types.js
src/ActionDialog/index.js
src/AlignHorizontal/AlignHorizontal.js
src/AlignHorizontal/AlignHorizontal.types.js
src/AlignHorizontal/index.js
src/AlignVertical/AlignVertical.js
src/AlignVertical/AlignVertical.types.js
src/AlignVertical/index.js
src/AppHeader/AppHeader.js
src/AppHeader/AppHeader.types.js
src/AppHeader/index.js
src/AppLauncher/AppLauncher.js
src/AppLauncher/AppLauncher.types.js
src/AppLauncher/index.js
src/AppLayout/AppLayout.js
src/AppLayout/AppLayout.types.js
src/AppLayout/index.js
src/Autocomplete/Autocomplete.js
src/Autocomplete/Autocomplete.types.js
src/Autocomplete/index.js
src/Card/DetailCard/DetailCard.js
src/Card/DetailCard/DetailCard.types.js
src/Card/DetailCard/index.js
src/Card/FileCard/FileCard.js
src/Card/FileCard/FileCard.types.js
src/Card/FileCard/index.js
src/Card/index.js
src/Card/SummaryCard/index.js
src/Card/SummaryCard/SummaryCard.js
src/Card/SummaryCard/SummaryCard.types.js
src/ClientOnly/ClientOnly.js
src/ClientOnly/ClientOnly.types.js
src/ClientOnly/index.js
src/Common.types.js
src/ConditionalDialog/ConditionalDialog.js
src/ConditionalDialog/ConditionalDialog.spec.js
src/ConditionalDialog/ConditionalDialog.types.js
src/ConditionalDialog/index.js
src/DeletableList/DeletableList.js
src/DeletableList/DeletableList.types.js
src/DeletableList/index.js
src/FileUploader/FileUploader.js
src/FileUploader/FileUploader.types.js
src/FileUploader/index.js
src/ImageUploader/ImageUploader.js
src/ImageUploader/ImageUploader.types.js
src/ImageUploader/index.js
src/index.js
src/jest.config.js
src/LabelSelector/index.js
src/LabelSelector/Label.types.js
src/LabelSelector/LabelChip/index.js
src/LabelSelector/LabelChip/LabelChip.js
src/LabelSelector/LabelChip/LabelChip.types.js
src/LinePlot/index.js
src/LinePlot/LinePlot.js
src/LinePlot/LinePlot.types.js
src/LinePlot/LinePlotClientOnly.js
src/LoadErrorMessage/index.js
src/LoadErrorMessage/LoadErrorMessage.js
src/LoadErrorMessage/LoadErrorMessage.types.js
src/ModelButton/index.js
src/ModelButton/ModelButton.js
src/ModelButton/ModelButton.types.js
src/ModelButtonImage/color2filter.js
src/ModelButtonImage/index.js
src/ModelButtonImage/ModelButtonImage.js
src/ModelButtonImage/ModelButtonImage.types.js
src/NoWrapTypography/index.js
src/NoWrapTypography/NoWrapTypography.js
src/NoWrapTypography/NoWrapTypography.types.js
src/SearchBar/index.js
src/SearchBar/SearchBar.js
src/SearchBar/SearchBar.types.js
src/Sidebar/index.js
src/Sidebar/Sidebar.js
src/Sidebar/Sidebar.types.js
src/Sidebar/SidebarDivider/index.js
src/Sidebar/SidebarDivider/SidebarDivider.js
src/Sidebar/SidebarItem/index.js
src/Sidebar/SidebarItem/SidebarItem.js
src/Sidebar/SidebarItem/SidebarItem.types.js
src/Snackbar/index.js
src/Snackbar/Snackbar.js
src/Snackbar/Snackbar.types.js
src/Status/index.js
src/Status/StatusCard/index.js
src/Status/StatusCard/StatusCard.js
src/Status/StatusCard/StatusCard.types.js
src/Status/statuses.js
src/Status/StatusIcon/index.js
src/Status/StatusIcon/StatusIcon.js
src/Status/StatusIcon/StatusIcon.types.js
src/Status/StatusLabel/index.js
src/Status/StatusLabel/StatusLabel.js
src/Status/StatusLabel/StatusLabel.types.js
src/SurfacePlot/index.js
src/SurfacePlot/SurfacePlot.js
src/SurfacePlot/SurfacePlot.types.js
src/SurfacePlot/SurfacePlotClientOnly.js
src/SvgIcons/index.js
src/SvgIcons/IpgLogo/index.js
src/SvgIcons/IpgLogo/IpgLogo.js
src/SvgIcons/IpgLogo/IpgLogo.types.js
src/SvgIcons/SvgIcons.types.js
src/SvgIcons/VirtoMascots/VirtoThinking/index.js
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.js
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.types.js
src/TextField/index.js
src/TextField/TextField.js
src/TextField/TextField.types.js
src/ThemeProvider/index.js
src/ThemeProvider/ThemeContext.js
src/ThemeProvider/ThemeProvider.js
src/ThemeProvider/ThemeProvider.types.js
src/ThemeProvider/useTheme.js
src/TransferList/index.js
src/TransferList/TransferList.js
src/TransferList/TransferList.types.js
src/UserMenu/index.js
src/UserMenu/UserMenu.js
src/UserMenu/UserMenu.types.js
src/utils/plotlyConfig.js
src/VehicleSelect/index.js
src/VehicleSelect/VehicleSelect.js
src/VehicleSelect/VehicleSelect.types.js
src/VehicleSelectDialog/index.js
src/VehicleSelectDialog/VehicleSelectDialog.js
src/VehicleSelectDialog/VehicleSelectDialog.types.js
src/VirtoAppHeader/index.js
src/VirtoAppHeader/VirtoAppHeader.js
src/VirtoAppHeader/VirtoAppHeader.types.js
src/VirtoAppLayout/index.js
src/VirtoAppLayout/VirtoAppLayout.js
src/VirtoAppLayout/VirtoAppLayout.types.js
src/Wizard/index.js
src/Wizard/Wizard.js
src/Wizard/Wizard.types.js
src/Wizard/WizardActions/BackButton/BackButton.js
src/Wizard/WizardActions/BackButton/index.js
src/Wizard/WizardActions/CancelButton/CancelButton.js
src/Wizard/WizardActions/CancelButton/index.js
src/Wizard/WizardActions/index.js
src/Wizard/WizardActions/NextButton/index.js
src/Wizard/WizardActions/NextButton/NextButton.js
src/Wizard/WizardActions/WizardActions.js
src/Wizard/WizardActions/WizardActions.types.js
src/Wizard/WizardActions/WizardButton.types.js
src/Wizard/WizardContent/index.js
src/Wizard/WizardContent/WizardContent.js
src/Wizard/WizardContent/WizardContent.types.js
src/Wizard/WizardSteps/index.js
src/Wizard/WizardSteps/WizardStep/index.js
src/Wizard/WizardSteps/WizardStep/WizardStep.js
src/Wizard/WizardSteps/WizardStep/WizardStep.types.js
src/Wizard/WizardSteps/WizardSteps.js
src/Wizard/WizardSteps/WizardSteps.types.js
