# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# builds
build
dist
.rpt2_cache
package

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

storybook-static

# test reports
coverage
/test-results/
/playwright-report/
/playwright/.cache/

# js build files where a ts source file exists
src/ActionDialog/ActionDialog.js
src/ActionDialog/ActionDialog.js.map
src/ActionDialog/ActionDialog.types.js
src/ActionDialog/ActionDialog.types.js.map
src/ActionDialog/index.js
src/ActionDialog/index.js.map
src/AlignHorizontal/AlignHorizontal.js
src/AlignHorizontal/AlignHorizontal.js.map
src/AlignHorizontal/AlignHorizontal.types.js
src/AlignHorizontal/AlignHorizontal.types.js.map
src/AlignHorizontal/index.js
src/AlignHorizontal/index.js.map
src/AlignVertical/AlignVertical.js
src/AlignVertical/AlignVertical.js.map
src/AlignVertical/AlignVertical.types.js
src/AlignVertical/AlignVertical.types.js.map
src/AlignVertical/index.js
src/AlignVertical/index.js.map
src/AppHeader/AppHeader.js
src/AppHeader/AppHeader.js.map
src/AppHeader/AppHeader.types.js
src/AppHeader/AppHeader.types.js.map
src/AppHeader/index.js
src/AppHeader/index.js.map
src/AppLauncher/AppLauncher.js
src/AppLauncher/AppLauncher.js.map
src/AppLauncher/AppLauncher.types.js
src/AppLauncher/AppLauncher.types.js.map
src/AppLauncher/index.js
src/AppLauncher/index.js.map
src/AppLayout/AppLayout.js
src/AppLayout/AppLayout.js.map
src/AppLayout/AppLayout.types.js
src/AppLayout/AppLayout.types.js.map
src/AppLayout/index.js
src/AppLayout/index.js.map
src/Autocomplete/Autocomplete.js
src/Autocomplete/Autocomplete.js.map
src/Autocomplete/Autocomplete.types.js
src/Autocomplete/Autocomplete.types.js.map
src/Autocomplete/index.js
src/Autocomplete/index.js.map
src/Canvas/Canvas.js
src/Canvas/Canvas.js.map
src/Canvas/Grid.js
src/Canvas/Grid.js.map
src/Canvas/ResizeHandle.js
src/Canvas/ResizeHandle.js.map
src/Canvas/SelectionRectangle.js
src/Canvas/SelectionRectangle.js.map
src/CanvasItem/CanvasItem.js
src/CanvasItem/CanvasItem.js.map
src/CanvasItem/Rect.js
src/CanvasItem/Rect.js.map
src/CanvasItem/ResizeHandle.js
src/CanvasItem/ResizeHandle.js.map
src/CanvasItem/RotateHandle.js
src/CanvasItem/RotateHandle.js.map
src/Card/DetailCard/DetailCard.js
src/Card/DetailCard/DetailCard.js.map
src/Card/DetailCard/DetailCard.types.js
src/Card/DetailCard/DetailCard.types.js.map
src/Card/DetailCard/index.js
src/Card/DetailCard/index.js.map
src/Card/FileCard/FileCard.js
src/Card/FileCard/FileCard.js.map
src/Card/FileCard/FileCard.types.js
src/Card/FileCard/FileCard.types.js.map
src/Card/FileCard/index.js
src/Card/FileCard/index.js.map
src/Card/index.js
src/Card/index.js.map
src/Card/SummaryCard/index.js
src/Card/SummaryCard/index.js.map
src/Card/SummaryCard/SummaryCard.js
src/Card/SummaryCard/SummaryCard.js.map
src/Card/SummaryCard/SummaryCard.types.js
src/Card/SummaryCard/SummaryCard.types.js.map
src/Card/TableCard/TableCard.js
src/Card/TableCard/TableCard.js.map
src/Checkbox/Checkbox.js
src/Checkbox/Checkbox.js.map
src/ClientOnly/ClientOnly.js
src/ClientOnly/ClientOnly.js.map
src/ClientOnly/ClientOnly.types.js
src/ClientOnly/ClientOnly.types.js.map
src/ClientOnly/index.js
src/ClientOnly/index.js.map
src/Color/Color.js
src/Color/Color.js.map
src/Common.types.js
src/Common.types.js.map
src/ConditionalDialog/ConditionalDialog.js
src/ConditionalDialog/ConditionalDialog.js.map
src/ConditionalDialog/ConditionalDialog.spec.js
src/ConditionalDialog/ConditionalDialog.spec.js.map
src/ConditionalDialog/ConditionalDialog.types.js
src/ConditionalDialog/ConditionalDialog.types.js.map
src/ConditionalDialog/index.js
src/ConditionalDialog/index.js.map
src/ConfirmProvider/ConfirmProvider.js
src/ConfirmProvider/ConfirmProvider.js.map
src/Copyright/Copyright.js
src/Copyright/Copyright.js.map
src/DeletableList/DeletableList.js
src/DeletableList/DeletableList.js.map
src/DeletableList/DeletableList.types.js
src/DeletableList/DeletableList.types.js.map
src/DeletableList/index.js
src/DeletableList/index.js.map
src/DialogTitle/DialogTitle.js
src/DialogTitle/DialogTitle.js.map
src/FeedbackForm/FeedbackForm.js
src/FeedbackForm/FeedbackForm.js.map
src/FileUploader/FileUploader.js
src/FileUploader/FileUploader.js.map
src/FileUploader/FileUploader.types.js
src/FileUploader/FileUploader.types.js.map
src/FileUploader/index.js
src/FileUploader/index.js.map
src/Filter/AlwaysOpenAutocomplete.js
src/Filter/AlwaysOpenAutocomplete.js.map
src/Filter/CheckboxFilter/CheckboxFilter.js
src/Filter/CheckboxFilter/CheckboxFilter.js.map
src/Filter/FilterPopper/FilterButton.js
src/Filter/FilterPopper/FilterButton.js.map
src/Filter/FilterPopper/FilterPopper.js
src/Filter/FilterPopper/FilterPopper.js.map
src/Filter/FilterStack/ClearFilterButton.js
src/Filter/FilterStack/ClearFilterButton.js.map
src/Filter/FilterStack/FilterStack.js
src/Filter/FilterStack/FilterStack.js.map
src/Filter/LabelFilter/LabelFilter.js
src/Filter/LabelFilter/LabelFilter.js.map
src/Filter/RangeFilter/RangeFilter.js
src/Filter/RangeFilter/RangeFilter.js.map
src/FontPicker/FontPicker.js
src/FontPicker/FontPicker.js.map
src/FontStyle/FontStyle.js
src/FontStyle/FontStyle.js.map
src/ImageUploader/ImageUploader.js
src/ImageUploader/ImageUploader.js.map
src/ImageUploader/ImageUploader.types.js
src/ImageUploader/ImageUploader.types.js.map
src/ImageUploader/index.js
src/ImageUploader/index.js.map
src/index.js
src/index.js.map
src/jest.config.js
src/jest.config.js.map
src/LabelSelector/DeleteLabelDialog/DeleteLabelDialog.js
src/LabelSelector/DeleteLabelDialog/DeleteLabelDialog.js.map
src/LabelSelector/EditLabelDialog/EditLabelDialog.js
src/LabelSelector/EditLabelDialog/EditLabelDialog.js.map
src/LabelSelector/index.js
src/LabelSelector/index.js.map
src/LabelSelector/Label.types.js
src/LabelSelector/Label.types.js.map
src/LabelSelector/LabelChip/index.js
src/LabelSelector/LabelChip/index.js.map
src/LabelSelector/LabelChip/LabelChip.js
src/LabelSelector/LabelChip/LabelChip.js.map
src/LabelSelector/LabelChip/LabelChip.types.js
src/LabelSelector/LabelChip/LabelChip.types.js.map
src/LabelSelector/LabelSelector.js
src/LabelSelector/LabelSelector.js.map
src/LinePlot/index.js
src/LinePlot/index.js.map
src/LinePlot/LinePlot.js
src/LinePlot/LinePlot.js.map
src/LinePlot/LinePlot.types.js
src/LinePlot/LinePlot.types.js.map
src/LinePlot/LinePlotClientOnly.js
src/LinePlot/LinePlotClientOnly.js.map
src/LoadErrorMessage/index.js
src/LoadErrorMessage/index.js.map
src/LoadErrorMessage/LoadErrorMessage.js
src/LoadErrorMessage/LoadErrorMessage.js.map
src/LoadErrorMessage/LoadErrorMessage.types.js
src/LoadErrorMessage/LoadErrorMessage.types.js.map
src/Loading/Loading.js
src/Loading/Loading.js.map
src/LoginForm/LoginForm.js
src/LoginForm/LoginForm.js.map
src/ModelButton/index.js
src/ModelButton/index.js.map
src/ModelButton/ModelButton.js
src/ModelButton/ModelButton.js.map
src/ModelButton/ModelButton.types.js
src/ModelButton/ModelButton.types.js.map
src/ModelButtonImage/color2filter.js
src/ModelButtonImage/color2filter.js.map
src/ModelButtonImage/index.js
src/ModelButtonImage/index.js.map
src/ModelButtonImage/ModelButtonImage.js
src/ModelButtonImage/ModelButtonImage.js.map
src/ModelButtonImage/ModelButtonImage.types.js
src/ModelButtonImage/ModelButtonImage.types.js.map
src/MultiColor/MultiColor.js
src/MultiColor/MultiColor.js.map
src/MultiLabelPopover/MultiLabelPopover.js
src/MultiLabelPopover/MultiLabelPopover.js.map
src/MultiText/MultiText.js
src/MultiText/MultiText.js.map
src/NoWrapTypography/index.js
src/NoWrapTypography/index.js.map
src/NoWrapTypography/NoWrapTypography.js
src/NoWrapTypography/NoWrapTypography.js.map
src/NoWrapTypography/NoWrapTypography.types.js
src/NoWrapTypography/NoWrapTypography.types.js.map
src/NumberField/NumberField.js
src/NumberField/NumberField.js.map
src/PasswordChangeDialog/PasswordChangeDialog.js
src/PasswordChangeDialog/PasswordChangeDialog.js.map
src/PasswordChangeForm/PasswordChangeForm.js
src/PasswordChangeForm/PasswordChangeForm.js.map
src/PasswordResetForm/PasswordResetForm.js
src/PasswordResetForm/PasswordResetForm.js.map
src/RadioButtons/RadioButtons.js
src/RadioButtons/RadioButtons.js.map
src/RegistrationForm/RegistrationForm.js
src/RegistrationForm/RegistrationForm.js.map
src/SearchBar/index.js
src/SearchBar/index.js.map
src/SearchBar/SearchBar.js
src/SearchBar/SearchBar.js.map
src/SearchBar/SearchBar.types.js
src/SearchBar/SearchBar.types.js.map
src/Select/Select.js
src/Select/Select.js.map
src/Sidebar/index.js
src/Sidebar/index.js.map
src/Sidebar/Sidebar.js
src/Sidebar/Sidebar.js.map
src/Sidebar/Sidebar.types.js
src/Sidebar/Sidebar.types.js.map
src/Sidebar/SidebarDivider/index.js
src/Sidebar/SidebarDivider/index.js.map
src/Sidebar/SidebarDivider/SidebarDivider.js
src/Sidebar/SidebarDivider/SidebarDivider.js.map
src/Sidebar/SidebarItem/index.js
src/Sidebar/SidebarItem/index.js.map
src/Sidebar/SidebarItem/SidebarItem.js
src/Sidebar/SidebarItem/SidebarItem.js.map
src/Sidebar/SidebarItem/SidebarItem.types.js
src/Sidebar/SidebarItem/SidebarItem.types.js.map
src/Slider/Slider.js
src/Slider/Slider.js.map
src/Snackbar/index.js
src/Snackbar/index.js.map
src/Snackbar/Snackbar.js
src/Snackbar/Snackbar.js.map
src/Snackbar/Snackbar.types.js
src/Snackbar/Snackbar.types.js.map
src/SnackbarProvider/SnackbarProvider.js
src/SnackbarProvider/SnackbarProvider.js.map
src/Status/index.js
src/Status/index.js.map
src/Status/StatusCard/index.js
src/Status/StatusCard/index.js.map
src/Status/StatusCard/StatusCard.js
src/Status/StatusCard/StatusCard.js.map
src/Status/StatusCard/StatusCard.types.js
src/Status/StatusCard/StatusCard.types.js.map
src/Status/statuses.js
src/Status/statuses.js.map
src/Status/StatusIcon/index.js
src/Status/StatusIcon/index.js.map
src/Status/StatusIcon/StatusIcon.js
src/Status/StatusIcon/StatusIcon.js.map
src/Status/StatusIcon/StatusIcon.types.js
src/Status/StatusIcon/StatusIcon.types.js.map
src/Status/StatusLabel/index.js
src/Status/StatusLabel/index.js.map
src/Status/StatusLabel/StatusLabel.js
src/Status/StatusLabel/StatusLabel.js.map
src/Status/StatusLabel/StatusLabel.types.js
src/Status/StatusLabel/StatusLabel.types.js.map
src/SurfacePlot/index.js
src/SurfacePlot/index.js.map
src/SurfacePlot/SurfacePlot.js
src/SurfacePlot/SurfacePlot.js.map
src/SurfacePlot/SurfacePlot.types.js
src/SurfacePlot/SurfacePlot.types.js.map
src/SurfacePlot/SurfacePlotClientOnly.js
src/SurfacePlot/SurfacePlotClientOnly.js.map
src/SvgIcons/index.js
src/SvgIcons/index.js.map
src/SvgIcons/IpgLogo/index.js
src/SvgIcons/IpgLogo/index.js.map
src/SvgIcons/IpgLogo/IpgLogo.js
src/SvgIcons/IpgLogo/IpgLogo.js.map
src/SvgIcons/IpgLogo/IpgLogo.types.js
src/SvgIcons/IpgLogo/IpgLogo.types.js.map
src/SvgIcons/SvgIcons.types.js
src/SvgIcons/SvgIcons.types.js.map
src/SvgIcons/VirtoBuild/VirtoBuild.js
src/SvgIcons/VirtoBuild/VirtoBuild.js.map
src/SvgIcons/VirtoData/VirtoData.js
src/SvgIcons/VirtoData/VirtoData.js.map
src/SvgIcons/VirtoFleet/VirtoFleet.js
src/SvgIcons/VirtoFleet/VirtoFleet.js.map
src/SvgIcons/VirtoID/VirtoID.js
src/SvgIcons/VirtoID/VirtoID.js.map
src/SvgIcons/VirtoLogo/VirtoLogo.js
src/SvgIcons/VirtoLogo/VirtoLogo.js.map
src/SvgIcons/VirtoMascots/VirtoThinking/index.js
src/SvgIcons/VirtoMascots/VirtoThinking/index.js.map
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.js
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.js.map
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.types.js
src/SvgIcons/VirtoMascots/VirtoThinking/VirtoThinking.types.js.map
src/SvgIcons/VirtoModel/VirtoModel.js
src/SvgIcons/VirtoModel/VirtoModel.js.map
src/SvgIcons/VirtoResult/VirtoResult.js
src/SvgIcons/VirtoResult/VirtoResult.js.map
src/SvgIcons/VirtoScene/VirtoScene.js
src/SvgIcons/VirtoScene/VirtoScene.js.map
src/SvgIcons/VirtoTest/VirtoTest.js
src/SvgIcons/VirtoTest/VirtoTest.js.map
src/SvgIcons/VirtoVehicle/VirtoVehicle.js
src/SvgIcons/VirtoVehicle/VirtoVehicle.js.map
src/SwitchField/SwitchField.js
src/SwitchField/SwitchField.js.map
src/TextField/index.js
src/TextField/index.js.map
src/TextField/TextField.js
src/TextField/TextField.js.map
src/TextField/TextField.types.js
src/TextField/TextField.types.js.map
src/ThemeProvider/index.js
src/ThemeProvider/index.js.map
src/ThemeProvider/ThemeContext.js
src/ThemeProvider/ThemeContext.js.map
src/ThemeProvider/ThemeProvider.js
src/ThemeProvider/ThemeProvider.js.map
src/ThemeProvider/ThemeProvider.types.js
src/ThemeProvider/ThemeProvider.types.js.map
src/ThemeProvider/useTheme.js
src/ThemeProvider/useTheme.js.map
src/ToggleColorMode/ToggleColorMode.js
src/ToggleColorMode/ToggleColorMode.js.map
src/TransferList/index.js
src/TransferList/index.js.map
src/TransferList/TransferList.js
src/TransferList/TransferList.js.map
src/TransferList/TransferList.types.js
src/TransferList/TransferList.types.js.map
src/UserAvatar/UserAvatar.js
src/UserAvatar/UserAvatar.js.map
src/UserMenu/index.js
src/UserMenu/index.js.map
src/UserMenu/UserMenu.js
src/UserMenu/UserMenu.js.map
src/UserMenu/UserMenu.types.js
src/UserMenu/UserMenu.types.js.map
src/utils/plotlyConfig.js
src/utils/plotlyConfig.js.map
src/VehicleSelect/index.js
src/VehicleSelect/index.js.map
src/VehicleSelect/VehicleSelect.js
src/VehicleSelect/VehicleSelect.js.map
src/VehicleSelect/VehicleSelect.types.js
src/VehicleSelect/VehicleSelect.types.js.map
src/VehicleSelectDialog/index.js
src/VehicleSelectDialog/index.js.map
src/VehicleSelectDialog/VehicleSelectDialog.js
src/VehicleSelectDialog/VehicleSelectDialog.js.map
src/VehicleSelectDialog/VehicleSelectDialog.types.js
src/VehicleSelectDialog/VehicleSelectDialog.types.js.map
src/ViewToggleButton/ViewToggleButton.js
src/ViewToggleButton/ViewToggleButton.js.map
src/VirtoAppHeader/index.js
src/VirtoAppHeader/index.js.map
src/VirtoAppHeader/VirtoAppHeader.js
src/VirtoAppHeader/VirtoAppHeader.js.map
src/VirtoAppHeader/VirtoAppHeader.types.js
src/VirtoAppHeader/VirtoAppHeader.types.js.map
src/VirtoAppLayout/index.js
src/VirtoAppLayout/index.js.map
src/VirtoAppLayout/VirtoAppLayout.js
src/VirtoAppLayout/VirtoAppLayout.js.map
src/VirtoAppLayout/VirtoAppLayout.types.js
src/VirtoAppLayout/VirtoAppLayout.types.js.map
src/Wizard/index.js
src/Wizard/index.js.map
src/Wizard/Wizard.js
src/Wizard/Wizard.js.map
src/Wizard/Wizard.types.js
src/Wizard/Wizard.types.js.map
src/Wizard/WizardActions/BackButton/BackButton.js
src/Wizard/WizardActions/BackButton/BackButton.js.map
src/Wizard/WizardActions/BackButton/index.js
src/Wizard/WizardActions/BackButton/index.js.map
src/Wizard/WizardActions/CancelButton/CancelButton.js
src/Wizard/WizardActions/CancelButton/CancelButton.js.map
src/Wizard/WizardActions/CancelButton/index.js
src/Wizard/WizardActions/CancelButton/index.js.map
src/Wizard/WizardActions/index.js
src/Wizard/WizardActions/index.js.map
src/Wizard/WizardActions/NextButton/index.js
src/Wizard/WizardActions/NextButton/index.js.map
src/Wizard/WizardActions/NextButton/NextButton.js
src/Wizard/WizardActions/NextButton/NextButton.js.map
src/Wizard/WizardActions/WizardActions.js
src/Wizard/WizardActions/WizardActions.js.map
src/Wizard/WizardActions/WizardActions.types.js
src/Wizard/WizardActions/WizardActions.types.js.map
src/Wizard/WizardActions/WizardButton.types.js
src/Wizard/WizardActions/WizardButton.types.js.map
src/Wizard/WizardContent/index.js
src/Wizard/WizardContent/index.js.map
src/Wizard/WizardContent/WizardContent.js
src/Wizard/WizardContent/WizardContent.js.map
src/Wizard/WizardContent/WizardContent.types.js
src/Wizard/WizardContent/WizardContent.types.js.map
src/Wizard/WizardSteps/index.js
src/Wizard/WizardSteps/index.js.map
src/Wizard/WizardSteps/WizardStep/index.js
src/Wizard/WizardSteps/WizardStep/index.js.map
src/Wizard/WizardSteps/WizardStep/WizardStep.js
src/Wizard/WizardSteps/WizardStep/WizardStep.js.map
src/Wizard/WizardSteps/WizardStep/WizardStep.types.js
src/Wizard/WizardSteps/WizardStep/WizardStep.types.js.map
src/Wizard/WizardSteps/WizardSteps.js
src/Wizard/WizardSteps/WizardSteps.js.map
src/Wizard/WizardSteps/WizardSteps.types.js
src/Wizard/WizardSteps/WizardSteps.types.js.map
